@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#left-eye {
  animation: sketchy-eyes 3s linear infinite  alternate;
}

#right-eye {
  animation: sketchy-eyes 3s linear infinite  alternate;
}

@keyframes sketchy-eyes {

  from { transform: translate(0, 0);}

  to { transform: translate(8px, 0);}
}

#right-ear {
  transition: all .3s linear;
}

#left-ear {
  transition: all .3s linear;
}

.bear:hover #right-ear,
.bear:hover #left-ear {
  transform: translateY(-8px);
}

.st0 {
  fill: #673200;
}

.st1 {
  fill: #ffaaCa;
}

.st2 {
  fill: #c65B00;
}

.st3 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
